    body {
        background-color:rgb(0,124,128);
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    nav {
        position: fixed;
        width: 96%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #202021; /* Dark Navbar */
        padding: 15px 50px; /* Increased padding */
        box-shadow: 0px 4px 8px rgba(108, 35, 144, 0.7); /* Softer shadow */
        z-index: 1000;
    }

    .logo {
        color: #62d6fd;
        font-size: 24px;
        font-weight: bold;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        display: inline;
    }

    .nav-links a {
        color: #62d6fd;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
        position: relative;
        padding: 15px 5px;
    }

    .nav-links a.active{
        color : #4acfee;
        text-decoration: underline;
    }

    .nav-links a:hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        background-color: #1e90ff;
    }

    .container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .contact-info {
        background-image: url('images/BINI.JPG');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 50px; 
        border-radius: 10px;
        color: rgb(12, 12, 12); 
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
        width: 30%;
        font-style: italic;
        font-size: medium;
    }

    .contact-info, .contact-form {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        display: block; 
    }
    
    .show {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    .contact-form:hover, .contact-info:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }


    .contact-form {
        background-color: rgb(230, 168, 215);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 50px; 
        border-radius: 10px;
        color: rgb(12, 12, 12); 
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
        width: 30%;

    }
    
    .contact-form input, .contact-form textarea {
        width: 96%;
        padding: 20px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #010101;
    }

    .contact-form button {
        background-color: #05b0b0;
        color: rgb(105, 209, 250);
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 16px;
    }

    .contact-form button:hover {
        background-color: #048a8a;
    }

    .footer {
        text-align: center;
        padding: 10px;
        background: #1a1a1a;
        color: white;
        width: 99%;
    }
    
    .socials {
        margin-bottom: 5px;
    }
    
    .socials a {
        color: #008080;
        text-decoration: none;
    }
    
    .socials a:hover {
        text-decoration: underline;
    }